    html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing:content-box;
}

/* Customized  Scroll  */


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--c2);
}

::-webkit-scrollbar-thumb {
    background: var(--c4);
}


/* End of Customized  Scroll  */



.nodrag{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

:root {
    --c1: #ffffff;
    /*     white       */
    --c2: #1f1d0d;
    /*     black       */
    --c3: #00a2ff;
    /*                 */
    --c4: #ff8400;
    /*                 */
    --c5: #f1f1f1;
    /*                 */
    --c6: ;
    /*                 */
    --c7: ;
    /*                 */
    --c8: ;
    /*                 */
    --c9: ;
    /*                 */
    --c10: ;
}

.c1 {
    color: #f6f6f6;
}

.c2 {
    color: #1f1d0d;
}

.c3 {
    color: #00a2ff;
}

.c4 {
    color: #ff8400;
}

.c5 {
    color: #f1f1f1;
}

.c6 {
    color: ;
}

.c7 {
    color: ;
}

.c8 {
    color: ;
}

.c9 {
    color: ;
}

.c10 {
    color: ;
}


.bgc1 {
    background-color: #f6f6f6;
}

.bgc2 {
    background-color: #1f1d0d;
}

.bgc3 {
    background-color: #00a2ff;
}

.bgc4 {
    background-color: #ff8400;
}

.bgc5 {
    background-color:#f1f1f1;
}

.bgc6 {
    background-color: ;
}

.bgc7 {
    background-color: ;
}

.bgc8 {
    background-color: ;
}

.bgc9 {
    background-color: ;
}

.bgc10 {
    background-color: ;
}



a {
    text-decoration: none;
}



/*Fonts for Css*/


.fon1 {}

.fon2 {}

.fon3 {}

/*End of fonts section   */


/*  Media Queries     */




@media only screen and (max-width: 575px) {}

/*Mobile Devices*/
@media only screen and (max-width: 480px) {}

/*Sm Devices*/
@media only screen and (max-width: 768px) {}

/*medium devices*/
@media only screen and (max-width: 1024px) {}

/*Large devices*/
@media only screen and (min-width: 1281px) {

    .pricebox{
        height: 80vh;
    }
}


/* End of Media Queries     */


/*Nav bar start*/
.v-center {
    align-items: center;
}

.ulhide {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: block;
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 8px;
    background-color: var(--c1);
    color: var(--c2) !important;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.02);
}

.header .item-left {
    flex: 0 0 17%;
}

.header .item-center {
    padding-left: 20%;
    flex: 0 0 50%;
}

.header .item-right {
    flex: 0 0 17%;
    display: flex;
    justify-content: flex-end;
}

.header .menu>ul>li {
    display: inline-block;
    line-height: 50px;
    margin-left: 25px;
}


.sub-menu {
    position: absolute;
    z-index: 500;
    background-color: #ffffff;
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    transition: all 0.5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
}

@media(min-width: 992px) {
    .header .menu>ul>li.menu-item-has-children:hover .sub-menu {
        margin-top: 0;
        visibility: visible;
        opacity: 1;
    }
}

.sub-menu.mega-menu-column-4 {
    border-top: 4px solid var(--c4);
    max-width: 20%;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}


.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}


.header .menu>ul>li .sub-menu.mega-menu-column-44>.list-item img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}



.mobile-menu-head,
.mobile-menu-trigger {
    display: none;
}




@media(max-width: 991px) {
    .hide-forall {
        display: none !important;
    }


    .navtxt,
    .navtxt:hover {
        color: var(--c2) !important;
    }

    .header {
        padding: 0px;
    }

    .logo {
        position: relative;
        top: 15px;
        width: 15% !important;
    }

    .header .item-center {
        order: 3;
        flex: 0 0 100%;
    }

    .header .item-left,
    .header .item-right {
        flex: 0 0 auto;
    }

    .v-center {
        justify-content: space-between;
    }

    .header .mobile-menu-trigger {
        display: flex;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .header .mobile-menu-trigger span {
        display: block;
        height: 2px;
        background-color: var(--c2);
        width: 24px;
        position: relative;
        top: -20px;
    }

    .header .mobile-menu-trigger span:before,
    .header .mobile-menu-trigger span:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--c2);
    }

    .header .mobile-menu-trigger span:before {
        top: -6px;
    }

    .header .mobile-menu-trigger span:after {
        top: 6px;
    }

    .header .item-right {
        align-items: center;
    }

    .header .menu {
        position: fixed;
        width: 100%;
        background-color: #ffffff;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
    }

    .header .menu.active {
        transform: translate(0%);
    }

    .header .menu>ul>li {
        line-height: 1;
        margin: 0;
        display: block;
    }


    .header .menu>ul>li>a {
        line-height: 50px;
        height: 50px;
        padding: 0 50px 0 15px;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header .menu>ul>li>a i {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 50px;
        transform: rotate(-90deg);
    }

    .header .menu .mobile-menu-head {
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;
        position: sticky;
        background-color: #ffffff;
        top: 0;
    }

    .header .menu .mobile-menu-head .go-back {
        height: 50px;
        width: 50px;
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 25px;
        display: none;
        position: relative;
        top: 12px;
    }

    .header .menu .mobile-menu-head.active .go-back {
        display: block;
    }

    .header .menu .mobile-menu-head .current-menu-title {
        font-size: 15px;
        color: var(--c1);
    }

    .header .menu .mobile-menu-head .mobile-menu-close {
        height: 50px;
        width: 50px;
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 28px;
    }

    .header .menu .menu-main {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .sub-menu.mega-menu,
    .sub-menu {
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 65px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }


    .header .menu>ul>li .sub-menu.active {
        display: block;
    }

    @keyframes slideLeft {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes slideRight {
        0% {
            opacity: 1;
            transform: translateX(0%);
        }

        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }

    .menu-overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .menu-overlay.active {
        visibility: visible;
        opacity: 1;
    }
}

.sertxt {
    color: var(--c2);
    font-size: 14px;
    padding: 10px !important;
    border-radius: 10px;
    transition: .5s;
}

.sertxt:hover {
    background-color: var(--c4);
    color: var(--c1);
    transition: .5s;
    border-radius: 10px;
}

.bad {
    position: relative;
    border: 1px solid var(--c5);
    color: var(--c5) !important;
    transition: .5s ease;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

.bad:hover {
    background-color: var(--c5);
    border: 1px solid var(--c5);
    color: var(--c1) !important;
    transition: .5s ease;
}

.badalign {
    position: absolute;
    right: 50px;
    top: 0;
}



.navtxt,
.navtxt:hover {
    font-size: 15px;
    font-weight: 600;
    color: var(--c2);
    position: relative;
    transition: color 0.3s ease;
}

.navtxt::after {
    content: '';
    width: 0px;
    height: 1.5px;
    display: block;
    background: var(--c5);
    transition: 300ms;
}

.navtxt:hover::after {
    color: var(--c1);
    width: 65%;
}

.bad {
    margin-left: 65px;
    position: relative;
    border: 1px solid var(--c5);
    color: var(--c5) !important;
    transition: .5s ease;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.bad:hover {
    background-color: var(--c5);
    border: 1px solid var(--c5);
    color: var(--c1) !important;
    transition: .5s ease;
}

.badalign {
    position: absolute;
    right: 50px;
    top: 0;
}

.active span {
    color: var(--c4) !important;
}

.titcol {
    color: var(--c4);
}
                                    /*Nav bar end*/

.upbtn {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    color: var(--c1);
    background-color: red;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
    opacity: 0;
}


                                    /*  --------------------------- Codes Start's From Here ---------------------------------*/


#top,
#bottom,
#left,
#right {
    background: var(--c1);
    position: fixed;
    z-index: 11;
}

#left,
#right {
    top: 0;
    bottom: 0;
    width: 15px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top,
#bottom {
    left: 0;
    right: 0;
    height: 15px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}




#sec1{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 5%;
    background-color: var(--c5);
}

.intro{
    position: relative;
/*    top:140px;*/
    font-size: 3.5em;
    font-weight: bolder;
    color: var(--c2);
    color: var(--c1);
}




#sec2{
    padding-bottom: 5%;   
    background: rgb(241,241,241);
background: linear-gradient(180deg, rgba(241,241,241,1) 26%, rgba(246,246,246,1) 66%);
}


.btn1{
    color: var(--c2);
    background-color: var(--c4);
    font-weight: 600;
    border: 2px solid var(--c4);
    transition: .5s;
}

.btn1:hover{
    border: 2px solid var(--c4);
    background-color: var(--c2);
    color: var(--c1);
    transition: .5s;

}
.btn2{
    color: var(--c1);
    background-color: var(--c4);
    font-weight: 600;
    border: 2px solid var(--c4);
    transition: .5s;
}

.btn2:hover{
    border: 2px solid var(--c4);
    background-color: var(--c1);
    color: var(--c2);
    transition: .5s;

}
.btn3{
    color: var(--c4);
    background-color: var(--c1);
    font-weight: 600;
    border: 2px solid var(--c1);
    transition: .5s;
}

.btn3:hover{
    border: 2px solid var(--c4);
    background-color: var(--c4);
    color: var(--c1);
    transition: .5s;

}

.boxicon{
    color: var(--c4);
    transition: .5s;
}

.box{
    background-color: var(--c1);
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-bottom: 4px solid var(--c4);
    transition: .5s;
}

.box:hover{
    background-color: var(--c4);
    color: var(--c1);
}

.box:hover .boxicon{
    color: var(--c1);
    transition: .5s;
}

#sec3{
    background-color: var(--c5);
}



.count{
    font-size: 3.5em;
    font-weight: bolder;
}



#sec4{
    width: 100%;
    background-color: var(--c1);
}

.course-box{
    border: 1px solid rgba(0, 0, 0, 0.2);
/*    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);*/
    transition: .5s;
}


#sec5{
    background-color: var(--c2);
}




.picsandpos{
    width: 100%;
    height: 35vh;
}

.imgup{
    position: relative;
    top: 65px;
}
.imgdown{
    position: relative;
    bottom: 65px;
}


.shape{ 
    position: absolute;
    right: 125px;
    width: 150px;
}



.shape2{ 
    margin-top: -15px;
    position: absolute;
    left: 730px;
    width: 150px;
}

#sec6{
    background-color: var(--c1);
    padding-bottom: 5%;
}


#sec7{
    background-color: var(--c5);
    padding-bottom: 5%;
}

.planprice{
    font-size: 3.5em;
    font-weight: bolder;

}

.pricebox{
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
}


#sec8{
    background-color: var(--c1);
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.ch{
    height: 70%;
}


#testimonials{
    width:100%;
}
.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
    background: #fff;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
}

.testimonials-slider{
    position: relative;
    top: 100px;
}


.testimonials .testimonial-item .stars {
    margin-bottom: 25px;
}

.testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
    padding-bottom: 6%;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: var(--c3);
    margin: 0;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    padding: 3%;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4154f1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4154f1;
}

.testimonials .swiper-slide {
    opacity: 0.3;
}

@media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
        opacity: 1;
    }

    .testimonials .swiper-pagination {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
        opacity: 1;
        transform: scale(1.12);
    }
}

.section-header {
    text-align: center;
    padding-bottom: 35px;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: var(--c2);
}

footer{
    width: 100%;
    background-color: var(--c2);
    padding-bottom: 5%;

}


.fa-brands{
    background-color: var(--c4);
    padding: 3%;
    margin: 2%;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.fa-brands:hover{

    background-color: var(--c1);
    color: var(--c2);
    transition: .5s;
}


.foottop{
    padding-top: 100px;
}


.tri{
    position: relative;
    top:110px;
    z-index:5;
    background-image: url(pictures/tri.png);
    height: 30%;
    width: 80%;
    left: 10%;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    border-radius: 24px;
}

.form-control {
    position: relative;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 40%;
    top: 100px;
}

.n-input {
    border: none;
    display: block;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    height: 42px;
    width: 100%;
}

.n-btn {
    background-color: var(--c4);
    border: 0;
    color: #fff;
    font-size: 14px;
    height: 54px;
    padding: 12px 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.n-btn:hover {
    scale: 1.1;
    transition: 300ms;
}

.n-input:focus, .n-btn:focus {
    outline: 0;
}

.contact1{
    width: 100%;
    background-color: var(--c1);
}


.heroalign{
    
    padding-top: 100px;
}

.contact2{
    width: 100%;
    background-color: var(--c1);
}





